body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

.choices {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
h3 {
    color: red;
}

.choice {
    width: 30%;
    padding: 5px;
    background-color: #3498db;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.choice:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}

.choice img {
    max-width: 100%;
}

.result {
    margin-top: 20px;
    
    font-weight: bolder ;
}

.result-text {
   
    font-weight: bold;
    font-size: 40cm;
    margin-top: 20px;
}
